*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#big_container{
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
    
.contain_questions
{ 
    width: 470px;
    height: 570px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

#bar
{
    width: 1%;
    height: 3%;
    background-color: green;
    color: white;
    font-weight: bold;
}

.element
{ 
    border: 1px solid rgb(92, 87, 87);
    width: 400px;
    height: 30px;
    border-radius: 3px;
    accent-color: green;
    cursor: pointer;
    width: 400px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    /* TODO */
}

.element:hover
{ 
    border: 1px solid rgb(31, 173, 3);
    width: 400px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    width: 400px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.element :checked
{
    border-color: green;
    border: solid 3px;
}
.answer
{   
    cursor: pointer;
    font-size: 20px;
    accent-color: green;
    margin: 7px;
}

#question
{
    text-align: center;
    margin: 40px 0 20px;
    font-size: 20px;
}
.contain_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#submit
{   color: white; 
    border: none;
     padding: 20px 50px;  
     background-color: green; 
     box-shadow: 3px 3px 3px rgb(194, 191, 191);
     font-size: 17px;
}
#Quitter
{   color: white;
    padding: 20px 50px;
    border: none;
    background-color: orange;
    box-shadow: 3px 3px 3px rgb(194, 191, 191);
    font-size: 17px;
}

#progression
{   justify-content: center;
    width: 99%;
}
.timer_prog
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.accueil
{
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 4%;
    padding-bottom: 4%;
    color:white;
    background-color: rgb(11, 92, 241);
    border: none;
    box-shadow: 3px 3px 3px rgb(194, 191, 191);
    font-size: 17px;
    cursor: pointer;
}
.progress_container
{
    width: 99%;
    height: 7px;
    background-color:rgb(238, 243, 236) ;
    border-radius: 3px;
}
.progress_fill
{
    width: 50%;
    height: 100%;
    background-color: green;
    border-radius: 3px;
}

.header_score
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.score_position
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10%; 
}
#name
{
font-size: 20px;
}

#email
{
    font-size: 20px;
    margin-bottom: 20px;
}
.image_score
{ 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10%; 
    margin: auto;
}
.button_accueil
{   display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
}

.image_score
{   
    width: 150px;
    height: 150px;
}